body {
    margin: 0 10%;
}

nav {
    width: 50%;
    margin: 0 auto;
    }

nav li {
    display: inline;
    padding: 0 20px;
    margin: 10px 30px;
}

nav a {
    text-decoration: none;
}

.container {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
}

.box-color {
    width: 32%;
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.box-font {
    width: 40%;
    display: inline-block;
    text-align: left;
    margin: 0 auto;;
}

.blue {
    background-color: #2d5dcc;
}

.pink {
    background-color: #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
}

.beige {
    background-color: #efd9ca;
}

.font-name {
    text-decoration: underline;
    font-size: large;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#page-title {
    font-size: 80px;
}